<!DOCTYPE html>
<html>
<head>
  <title>SessionsControllerLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if session[:name] %>
      <h1>Hi, <%= session[:name] %>.</h1>
      <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
        <input type=submit value='logout'>
    <% else %>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='login'>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
